<div class="cardDiv" [@fadeAnimation]="'in'">
  <mat-card class="main">

      <img src="assets/eplan.png" class="imag">
    <!--<form >
      <h2>Email</h2>
      <mat-form-field>
        <input matInput required>
      </mat-form-field>
      <h2>Password</h2>
      <mat-form-field >
        <input matInput type="password" required>
      </mat-form-field>
    </form>-->
    <div class="buttons">
      <!--<button class="login" mat-raised-button color="primary" routerLinkActive="active" routerLink="/main" >Login</button>-->
      <button class="login" mat-raised-button color="secondary" (click)="authService.GoogleAuth()" >Login with Google</button>
    </div>

  </mat-card>

</div>

<img class="linvelo" src="assets/linvelo.png">
