<div class="menubar">
  <mat-toolbar class="mat-elevation-z8" >
   <div (click)="reload()">
     <img class="logo" src="assets/eplan.png">
</div>
    <div class="profile">
      <img class="pfp" src="assets/profile.png">
      <h2 class="name" onclick="logOut()">{{this.displayedName}}</h2>
      <i class="pi pi-sign-out" style="font-size: 2rem" (click)="logOut()"></i>
    </div>
  </mat-toolbar>
</div>

<div class="sidebar-div">
  <mat-card class="sidebar">
    <i class="newProject pi pi-plus" (click)="newProject()"></i>
    <p-tree [value]="files" selectionMode="single" [(selection)]="selectedItem" (onNodeSelect)="itemSelect($event)">
      <ng-template let-node pTemplate="url">
      <a [href]="node.data">{{node.label}}</a>
    </ng-template></p-tree>
  </mat-card>
</div>

<div class="main-content-div">
  <mat-card class="main-content">
  <full-calendar [options]="calendarOptions"></full-calendar>
  </mat-card>
</div>

<div *ngIf="fb.selectedComponent == 'page'">
  <app-page></app-page>
</div>
<div *ngIf="fb.selectedComponent == 'project'">
  <app-project></app-project>
</div>
<div *ngIf="fb.selectedComponent == 'task'">
  <app-tasks></app-tasks>
</div>


<img class="linvelo" src="assets/linvelo.png">


