<div class="main-content-div">
  <mat-card class="main-content">
      <form>
        <mat-form-field class="title">
          <input matInput [(ngModel)] = "this.tf.title" placeholder="Title" name="title" >

        </mat-form-field>
      </form>
      <div class="left-content">
      <p-editor [(ngModel)]="this.tf.text"></p-editor>
      <p-progressBar [ngClass]="'progressBar'" value="{{progress}}" ></p-progressBar>

    <div class="buttons">
      <button mat-button class="save-documentation" (click)="update()">Save</button>
      <button *ngIf="members.indexOf(auth.user.displayName) === -1" mat-button class="join" (click)="join()" >Join</button>
      <button *ngIf="members.indexOf(auth.user.displayName) !== -1" mat-button class="leave" (click)="leave()" >Leave</button>
      <button mat-button class="add-page" (click)="addPage()">Add page</button>
      <button mat-button class="delete" (click)="delete()">Delete</button>
    </div>
      </div>
    <div class="members-div">
      <mat-card class="members">
        <div *ngFor="let member of members" class="profile">
          <img class="pfp" src="assets/profile.png">
          <h2 class="name">{{member}}</h2>
          <mat-divider></mat-divider>
        </div>
      </mat-card>
    </div>
  </mat-card>
</div>
