<div class="main-content-div">
    <mat-card class="main-content">
        <h2>&nbsp;Project Task's Page</h2>
        <br>
        <p-editor [(ngModel)]="text"></p-editor>

        <div class="comments-div">
          <mat-card class="comments">
            <h4 class="comment-content">Markus: comment
              <mat-divider></mat-divider>
            </h4>
            <h4 class="comment-content">Lara: comment
              <mat-divider></mat-divider>
            </h4> 
            <h4 class="comment-content">Emilia: comment
              <mat-divider></mat-divider>
            </h4>

            <mat-form-field class="title">
              <input matInput placeholder="Comment...">
            </mat-form-field>
          

          </mat-card>
        </div>

        <div class="buttons">
          <button mat-button class="save-documentation">Save</button>
          <button mat-button class="upload">Upload Document</button>
        </div>


    </mat-card>
</div>