.main-content-div{
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
    height: inherit;
    z-index: 10;
    display: flex;
  }

  .main-content{
    background: #f8f6ca;
    height:fit-content;
    width: 1112px;
  }

  ::ng-deep .title{
    margin-left: 0px;
    width: 265px;
    background-color: white;
    height: 52px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute !important;
    bottom: 55px;
  }

  ::ng-deep .title{
    border-radius: 10px !important;
  }


  ::ng-deep .p-editor-container{
    padding-left: 25px;
    padding-top: 10px;
    width: 750px !important;
    height: 300px !important;

  }

  .buttons{
    right: 350px;
    position: relative;
  }

  .mat-toolbar {
    position:fixed;
    z-index: 7;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#eee773), color-stop(100%,#eae151));
  }

  .comments-div{
    margin-left: 30px;
    height: inherit;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    right: 20px;
    top: 0px;
  }

  .comments{
    height: 492px;
    margin-bottom: 10px;
    margin-top: 30px;
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#eee773), color-stop(100%,#eae151));
    display: flex;
    flex-direction: column;
  }

  .comment-content{
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'jost2' !important;
    margin-right: 10px;
    max-width: 250px;
  }

  .buttons{
    margin-top: 90px;
    left: 40px;
    position: absolute;
    flex-direction: row;
  }

  .save-documentation{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#eee773), color-stop(100%,#eae151));
    border: 2px solid black;
    font-weight: 700;
    font-size: 22px;
    border-radius: 30px;
    width: 80px;
  }

  .upload{
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 22px;
    width: 205px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#eee773), color-stop(100%,#eae151));
  }

  .send{
    bottom: 7px;
    margin-left: 200px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 14px;
    width:66px;
    height: 40px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#eee773), color-stop(100%,#eae151));
    position: absolute;
    font-weight: 700;

  }

  .commentDiv{
    margin-top:0px;
    max-height:350px;
    overflow-y: auto;
  }

  ::ng-deep .pi-trash{
    left: 185px;
    position: relative;
    font-size: 15px;
    visibility: hidden;
    color: black;
  }

  h4:hover .pi-trash{
    visibility: visible;
    cursor: pointer;

  }

  ul:hover .pi-trash{
    visibility: visible;
    cursor: pointer;
    font-size: 20px;
    left: 250px;
  }

  ::ng-deep .pi-upload{
    font-size: 20px;
  }

  ::ng-deep .fileUpload{
    position: relative !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#eee773), color-stop(100%,#eae151));
    font-weight: 700;
    font-size:22px;
    color: black;
    left: 130px;
    width: 600px;
    margin-top: 70px;

  }

  ::ng-deep .p-fileupload-choose:not(.p-disabled):hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#E0D957), color-stop(100%,#eae151));
    color:black;
    border: 2px solid black;
  }

  ::ng-deep .fileUpload .pi  {
    font-size: 25px
  }

  ::ng-deep .p-fileupload-choose {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#eee773), color-stop(100%,#eae151));
    color:black;
    font-weight: 650;
    font-size: 20px;
    border: 2px solid black;
  }

  ::ng-deep p-fileupload-choose .pi {
    size:25;
  }

  ::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eae151), color-stop(60%,#eee773), color-stop(100%,#eae151));
    color:black;
    font-weight: 650;
    font-size: 20px;
  }

  ::ng-deep .p-fileupload-buttonbar{
    background: #f8f6ca;
  }

  .file{
    color:blue;
    pointer-events: all !important;
  }



